.imageneshome {
    border-radius: 25px;
}
.parraf {
    font-size: large;
}
.metod1 {
    background-color:#f6b93b ;
}
.metod2 {
    background-color:#e55039 ;
}
.metod3 {
    background-color:#3c40c6 ;
}
.formulexpert {
    background-color:#c7ecee ;
}