.navegador {
    padding-left: 25%;
    margin-bottom: 40px;
    padding-top: 50px;
    
}
.botonav {
    padding: 10px;
    list-style-type: none;
    
}
.main1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1e3799 ;
    padding: 15px;
    padding-top: 50px;
}
P { box-shadow: black 0.5em 0.5em 0.3em }




